html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* Image source: https://wallpaperset.com */
    background: #c0c0c0 url('../img/star-wars-wallpaper-landscape.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff;
}

/*
 * Styles for the deck of cards
 */

.deck {
    max-width: 660px;
    max-height: 680px;
    background: linear-gradient(160deg, #fff44f 0%, #c0c0c0 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    /* Give perspective to the 3d positioned cards */
    perspective: 800px;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #000;
    /* font-size: 0; */
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    margin: 10px 0;
    /* Transition for animations */
    transition: all 400ms ease;
    /* The flipped card will preserve the 3d transformation */
    transform-style: preserve-3d;
    /* TODO: improve unmatched cards animation */
    /* position: relative; */
}

.deck .card > i {
    opacity: 0;
}

.deck .card.show > i {
    opacity: 1;
}

.deck .card.open {
    /* Flipping animation */
    transform: rotateY(180deg);
    background: #c0c0c0;
    cursor: default;
}

/* .deck .card.show {
    font-size: 33px;
} */

/* Keyframe animation for matched cards */
@keyframes match {
    from {
        transform: scale(1, 1);
        background: #c0c0c0;
    }

    to {
        transform: scale(1.2, 0.8);
        background: #fff44f;
    }
}

.deck .card.match {
    cursor: default;
    background: #fff44f;
    /* font-size: 33px; */
    animation-duration: 400ms;
    animation-name: match;
}

/* Keyframe animation for unmatched cards */
@keyframes unmatch {
    from {
        transform: translate(0, 0);
        background: #c0c0c0;
    }

    20%, 60% {
        transform: translate(-8px, 0);
        background: #f00;
    }

    40%, 80% {
        transform: translate(8px, 0);
        background: #f00;
    }

    to {
        background: #f00;
    }
}

/* @keyframes unmatch {
    from {
        transform: scale(1, 1);
        background: #c0c0c0;
    }

    50% {
        transform: scale(1.2, 1.2);
        background: #f00;
    }

    to {
        background: #f00;
    }
} */

.deck .card.nomatch {
    animation-duration: 600ms;
    animation-name: unmatch;
}

/* TODO: improve unmatched cards animation */
/* .deck .card.nomatch > i {
    animation-duration: 600ms;
    animation-name: unmatch;
} */

.deck .card.noclick {
    pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    color: #fff;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .timer {
    margin: 0 0 0 50px;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/* Card symbols */

/* Icons from  http://www.iconarchive.com/show/starwars-icons-by-sensibleworld.html*/

.sym {
    backface-visibility: hidden;
    transform: rotateY(180deg);
    /* TODO: improve unmatched cards animation */
    /* position: absolute;
    top: 0;
    left: 0;
    padding: 41.5px;
    height: 125px;
    width: 125px; */
}

.sym-C3PO {
    content: url(../img/C3PO.svg);
}

.sym-Chewbacca {
    content: url(../img/Chewbacca.svg);
}

.sym-Darth-Vader {
    content: url(../img/Darth-Vader.svg);
}

.sym-Death-Star {
    content: url(../img/Death-Star.svg);
}

.sym-Leia {
    content: url(../img/Leia.svg);
}

.sym-Millennium-Falcon {
    content: url(../img/Millennium-Falcon.svg);
}

.sym-R2D2 {
    content: url(../img/R2D2.svg);
}

.sym-Stormtrooper {
    content: url(../img/Stormtrooper.svg);
}

/* Congratulations popup */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    visibility: hidden;
}

.popup.visible {
    visibility: visible;
}

.modal {
    background: rgba(255,255,255,0.9);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    list-style-type: none; 
}

.modal li {
    display: inline-flex;
}

.button {
    font-size: 1em;
    border-radius: 5px;
}

/* Responsive */

@media screen and (min-width: 781px) and (max-width: 1440px) {
    h1 {
        -webkit-margin-before: 0.30em;
        -webkit-margin-after: 0.30em;
    }

    .deck {
        margin: 0 0 1em;
    }    
}

@media screen and (max-width: 1200px) {
    body {
        background-position: center;
    }
}

@media screen and (max-width: 780px) {
    body {
        /* Image source: https://www.setaswall.com */
        background-image: url('../img/Star-Wars-Wallpaper-portrait.jpg');
    }
}

@media screen and (min-width: 540px) and (max-width: 600px) {
    .deck .card {
        height: 110px;
        width: 110px;
    }  
}

@media screen and (min-width: 466px) and (max-width: 540px) {
    .deck .card {
        height: 95px;
        width: 95px;
    }  
}

@media screen and (min-width: 401px) and (max-width: 465px) {
    .deck .card {
        height: 80px;
        width: 80px;
    }
}

@media screen and (min-width: 351px) and (max-width: 400px) {
    .deck .card {
        height: 70px;
        width: 70px;
    }
}

@media screen and (max-width: 350px) {
    .deck .card {
        height: 60px;
        width: 60px;
    }

    .sym {
        height: 35px;  
    }
}

@media screen and (max-width: 380px) {
    .score-panel {
        max-width: 345px;
        padding:  0 15px 0 15px;
    }
}